/*--------------[ FIRST CONTENT OF THE FRONT PAGE ]-------------------*/
/*[------------MAIN CONTENT WITH IMAGE -------------]*/
#First_Content{
  margin-top: 58px;
}

/*[ALL HEADER TARGET]*/
#targetHeader{
  text-align-last: center;
    padding-bottom: 20px;
}

#content_fullHeader{
    position: relative;
}

/*[WE ARE ONE]*/
#theOne{
  color: white;
  text-align: center;
  font-size: 100px;
  padding: 50px 0 100px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*[IMAGE OF FORNT PAGE]*/
#front_img{
  width: 100%;
}

/*-----[FOR ALL CONTENT AND INFORMATION]-----*/
.contents{
  padding-top: 100px;
  padding-bottom: 50px;
}

.info_content{
  text-align: left;
}

.content_square{
  text-align: -webkit-center;
}
    
/*---------[ABOUT US]---------*/
#aboutUs{
  background-color: rgba(204, 238, 255, 0.3);
}


@media only screen and (max-width: 1220px) {
  #theOne{
    font-size: 100px;
    padding: 50px 0 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


/*////////////////////////////////////////////////////////////////*/

/*--------------[ CONTENT WORKING PAGE ]-------------------*/
#header_Work{
  padding: 10px 30px;
    text-align: right;
}

#namePage_Work{
  padding-top: 20px;
  text-align: center;
}

/*[MODAL when click name]*/
.modal-backdrop {
    z-index: 1020;
}

/*[FONT AWESOME IN DATA TBALE]*/
/*[PEN]*/
.pen_FW{
  color: #1E90FF; 
  padding-right: 10px;
}

/*[TRASH]*/
.trash_FW{
  color: red;
  padding-left: 10px;
}

/*[PLUS]*/
.plus_FW{
   color: #228B22;
}
